.text-wrapper-6 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: relative;
    left: 270px;
  }

  .frame {
      position: relative;
      width: 1220px;
      height: 700px;
      background-color: #ffffff;
      border-radius: 10px;
      left: 270px;
      overflow: hidden;
      top: 20px;

    }

